extends layout

block content
  .container
    h1 Login
    p Please login below
    //Enctype is the way of sending files with the form
    form(method='post',action='/users/login')
      .row
        .input-field.col.s12
          input#username.validate(type='text', name='username')
          label(for='username') Username
      .row
        .input-field.col.s12
          input#password.validate(type='password', name='password')
          label(for='password') Password
      .row
        .input-field
          button.col.s12.m4.btn.offset-m4(type='submit') Login
  