.alert{
	background-color: #FA3838;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-top: 20px;
	text-align: center;
	text-decoration: bold;
}

#messages ul{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

ul.success li, ul.info li, ul.error li{
	// margin: 20px 0 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
	position:fixed;
	margin-left:80%;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	z-index: 3;
}

ul.success li{
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}
ul.info li{
	color: #31708f;
	background: #d9edf7;
	border-color: #bce8f1;
}
ul.error li{
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}